# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [3]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [4]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high     13
1  banana  medium     13
2  orange     low      1
3   apple    high      3
4  banana  medium     12
5  orange     low      5
6   apple    high      3
7  banana  medium      3
8  orange     low      0
    fruit weight  price
0   apple   high      7
1  orange    low      4
2    pine   high      6
3   apple    low      2
4  orange   high      8
5    pine    low     11

In [7]:
# - 依照 fruit 欄位做合併

pd.merge(df1, df2, on="fruit")

     fruit weight_x  price_x weight_y  price_y
0    apple     high       13     high        7
1    apple     high       13      low        2
2    apple     high        3     high        7
3    apple     high        3      low        2
4    apple     high        3     high        7
5    apple     high        3      low        2
6   orange      low        1      low        4
7   orange      low        1     high        8
8   orange      low        5      low        4
9   orange      low        5     high        8
10  orange      low        0      low        4
11  orange      low        0     high        8

In [16]:
# - 依照 index 索引做合併

df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [22]:
'''
因為merge預設方法是兩邊同時存在才會合併，只存在一邊的資料就不見了。
'''

'\n因為merge預設方法是兩邊同時存在才會合併，只存在一邊的資料就不見了。\n'

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [ ]:
'''
因為原本欄位重複，導致無法正確合併。
'''

In [23]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high         13     apple       high        7.0
1    banana     medium         13    orange        low        4.0
2    orange        low          1      pine       high        6.0
3     apple       high          3     apple        low        2.0
4    banana     medium         12    orange       high        8.0
5    orange        low          5      pine        low       11.0
6     apple       high          3       NaN        NaN        NaN
7    banana     medium          3       NaN        NaN        NaN
8    orange        low          0       NaN        NaN        NaN

In [21]:
pd.concat([df1, df2], axis=1, join="outer")

    fruit  weight  price   fruit weight  price
0   apple    high     13   apple   high    7.0
1  banana  medium     13  orange    low    4.0
2  orange     low      1    pine   high    6.0
3   apple    high      3   apple    low    2.0
4  banana  medium     12  orange   high    8.0
5  orange     low      5    pine    low   11.0
6   apple    high      3     NaN    NaN    NaN
7  banana  medium      3     NaN    NaN    NaN
8  orange     low      0     NaN    NaN    NaN

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          3     apple       high        3.0
1    banana     medium          6    orange        low        2.0
2    orange        low          0      pine       high       11.0
3     apple       high          5     apple        low        3.0
4    banana     medium          1    orange       high       13.0
5    orange        low          2      pine        low        8.0
6     apple       high         12       NaN        NaN        NaN
7    banana     medium         11       NaN        NaN        NaN
8    orange        low          7       NaN        NaN        NaN